.bgAnimate {
  background: linear-gradient(-45deg, #78350f, #4b0082, #000000);
  background-size: 400% 400%;
  animation: gradientMove 10s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.titleAnimate {
  background: linear-gradient(-45deg, #ffffff, #9300ff9c, #ffffff);
  background-size: 400% 400%;
  animation: gradientMove 10s ease infinite;

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
