@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-white);
  color: var(--foreground);
  font-family: sans-serif, Arial, Helvetica;
  color: black;
}

/*커스텀 컬러*/
@layer utilities {
  .bg-beige-light {
    background-color: #ede3ce;
  }

  .hover\:bg-beige-medium:hover {
    background-color: #d8cbb5;
  }

  .bg-beige-dark {
    background-color: #c2b59a;
  }

  .text-beige-dark {
    color: #c2b59a;
  }
}
